html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#f3810e, orange);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.main {
  width: 40%;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.song {
  margin-bottom: 10px;
}

.player {
  border: 3px solid #0b425e;
  width: 300px;
  height: 54px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  /* background-color: #FFF; */
}

.player img {
  width: 35px;
  height: 35px;
}

.player img:hover {
  width: 40px;
  height: 40px;
}

.ocultText {
  opacity: 0;
  transition: all 0.5s;
}

.btn-show {
  opacity: 1;
  transition: all 0.5s;
}

.divBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

button {
  width: 300px;
  height: 54px;
  border-radius: 8px; 
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #1F6A8F;
  color: #FFF;
  margin-bottom: 10px;
}

@keyframes changeButton {
  0% {background-color: #1F6A8F;}
  100% {background-color: #0b425e;}
}

button:hover {
  transition: 0.3s;
  animation-name: changeButton;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.divPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 300px;
  width: 300px;
  border: 3px solid #0b425e;
  border-radius: 8px;
  /* margin-top: 10px; */
  padding: 10px;
  box-sizing: border-box;
  background-color: #FFF;
}

.divPassword p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #1F6A8F;
  text-align: start;
}

.divPassword strong {
  font-size: 2.1rem;
  color: #f3810e;
}

